body {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.header {
  height:60px;
  width: 100%;
  display:flex;
  margin-bottom: 2%;
}

.logo {
  width: 150px;
  margin-top: 10px;
  background: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: 60px 50px;
  margin-left: 2%;
  margin-right: 7%;
}

.search-bar {
  width: 60%;
  height: 40px;
  line-height: 40px;
  margin-top: 12px;
}

.search-bar input {
  width: 100%;
  height: 100%;
  font-size: 22px;
  color: black;
  padding-left: 1%;
  font-weight: 200;

}

.main {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.video-detail {
  width: 70%;
  height: auto;
}

.list-group {
  width: 30%;
  height: auto;
}

.video {
  width: 100%;
  height: 500px;
}

.video-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.details {
  width: 96%;
  padding: 2% 2%;
  color: hsl(0,0%,93.3%);
  background-color: hsla(0,0%,6.7%,.8);
}

.video-list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: hsl(0,0%,100%);
  background-color: hsl(0,0%,0%);
}

.video-card {
  width: 100%;
  height: auto;
  padding: 2%;
  cursor: pointer;
}

.video-card:hover {
  color: hsl(0,0%,93.3%);
  background-color: hsla(0,0%,6.7%,.8);
}

.video-list-media {
  display: flex;
}

.vc-1 {
  margin-top: 0;
}

.media-body {
  padding: 3%;
}

@media only screen and (max-width: 900px) {
  
  .header {
    color: hsl(0,0%,93.3%);
    background-color: hsla(0,0%,6.7%,.8);
    margin-bottom: 0;
  }

  .logo {
      width: 60px;  
      margin-top: 1%; 
      margin-right: 4%; 
  }
  
  .search-bar {
      width: 70%;
      height: 30px;
      margin-top: 10px;
      background-color: transparent;
  }

  .search-bar input {
    background-color: transparent;
    border: 1px solid #eee;
    font-size: 22px;
    color: white;
    padding-left: 2%;
    font-weight: 200;
  }
  
  .main {
      width: 100%;
      display: block;
  }

  .video {
    height: 210px;
    margin-bottom: 0;
  }
  
  .video-detail {
      width: 100%; 
  }

  .details {
    color: hsl(0,0%,93.3%);
    background-color: hsla(0,0%,6.7%,.8);
    padding: 4% 2%;
    text-overflow: ellipsis;
  }
  
  .list-group {
      width: 100%;
  }

  .video-card {
    margin: 0;
    padding: 1%;
  }
  
  .video-list {
      width: 100%;
      list-style: none;
      color: hsl(0,0%,100%);
      background-color: hsl(0,0%,0%);
  }

  .media-body {
    padding-top: 2%;
    padding-right: 3%;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 800px) {
  
  .logo {
    margin-top: 6px;
  }

  .search-bar {
    margin-top: 14px;
  }
  
  .video {
    height: 360px;
  }
}

